/* スタート画面のスタイル */
.start-screen {
  background-color: #E0F7FA; /* 薄い水色の背景 */
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.instructions-container {
  background-color: #FFFFFF;
  width: 60%;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
}

.instructions-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.instructions-text {
  font-size: 16px;
  line-height: 1.5;
}

.start-button {
  padding: 15px 30px;
  font-size: 24px;
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}

.start-button:hover {
  background-color: #007bb5;
}

/* 矢印のスタイル */
.arrow {
  position: absolute;
  font-size: 36px;
  color: white;
  cursor: pointer;
}

#arrow-left {
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

#arrow-right {
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.equipment-description {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
}
